
body {
	font-family: 'Ubuntu', sans-serif;
	background: url('bread.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

a {
	color: #fff;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #FFA53C;
    border-color: #FFA53C;
}

.navbar-nav {
	 background-color: #FFA53C;
}

.navbar-default {
	background-color: #FFA53C;
}
